html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.content-wrapper {
  background-color: #E5E7EB; /* Tailwind's gray-200 */
  min-height: calc(100vh - 50px); /* Adjust according to the Navbar height */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white; /* Ensure the background is white */
  z-index: 1000; /* Ensure it appears above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visibility */
}
